:root {
    --main-color: #fff;
    --main-dark: #000;
    --main-modal-bg-color:#F2F0F9;
    --main-form-text:#6E6893;
    --main-input-bg:#f4f2ff;
    --main-primary:#6D5BD0;
    --main-border-color:#C6C2DE;
}