@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter:wght@400;600;700&display=swap');



.form-modal {
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 28px;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    column-gap: 24px;
    row-gap: 32px;
    margin-bottom: 73px;
}

.form__size {
    border: none;
    padding: 0;
    width: 100%;
}

.form__label__style {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    padding-bottom: 5px;
    padding-top: 12px;
    padding-left: 10px;
    color: #6E6893;
}



.form__style__input {
    outline: none;
    width: 100%;
    border-radius: 6px;
    border-style: none;
    background-color: #F4F2FF;
    padding: 10px;
    height: 40px;
}

.form__style__discount {
    border-radius: 6px;
    border-style: none;
    background-color: #EEEEEE;
    margin-left: 50px;
    padding: 10px;
    outline: none;
    width: 100%;
    height: 40px;

}

.form__style__check {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    cursor: pointer;

}

.form__style__check::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F4F2FF;
    border-radius: 6px;

}

.form__style__check::after {
    content: '';
    background: url('../img/cheked.png');
    position: absolute;
    width: 22px;
    height: 18px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.form__description {
    display: block;
    height: 112px;
    background: #F4F2FF;
    border-radius: 6px;
    border-style: none;
    resize: none;
}

.form__button {
    height: 39px;
    background: #6D5BD0;
    border-radius: 6px;
    color: white;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 11px 28px;
}



.modal__wrapper {
    border-bottom: 1px solid #C6C2DE;
    margin-bottom: 21px;
    padding-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__add-block {
    padding-top: 43px;
    padding-bottom: 39px;
}

.form__add-img {
    background-color: #6D5BD0;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 11px 28px;
    border-radius: 6px;
    cursor: pointer;
}

.file-input {
    display: none;
}

.form__discount-block {
    display: flex;
    position: relative;
}