.wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.table-wrapper {
    overflow-x: auto;
}

.bottom-controls {
    background-color: var(--main-input-bg);
    padding: 15px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--main-form-text);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form__btn_add-product {
    background-color: var(--main-primary);
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 8px;
}