.confirmModal {
    top: 50%;
    transform: translateY(-50%);
    padding: 32px;
    background-color: var(--main-modal-bg-color);
    box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    color: var(--main-form-text);
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}
.confirmModal__header {
    border-bottom: 1px solid var(--main-border-color);
    margin-bottom: 21px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmModal__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
}
.confirm-btn{
    background-color: var(--main-primary);
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: block;
}

.btn-row {
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
}